@model PersonalProject.Models.ViewModels.ItemImageViewModel

@{
    ViewData["Title"] = "Delete Item";
}

<h1>Delete Item</h1>
<div>
    <hr/>

    <div class="row">
        <div class="d-flex flex-wrap">
            @foreach (var img in Model.ItemImages.Where(img => img.ItemID == Model.Item.ItemID))
            {
                <div class="p-2">
                    <img src="@img.ImgPath" class="d-block" width="75" height="75" style="object-fit: contain">
                    <input type="radio" name="MainImage" value="@img.ID" @(img.IsMain ? "checked" : "")>
                    <label asp-for="@img.IsMain"><span class="small">Primary image</span></label>
                    <input type="hidden" asp-for="@img.ImgPath" />
                    <input type="hidden" asp-for="@img.ID" />
                </div>
            }
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Item.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Item.Description)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Item.Price)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
  </dl>

  <form asp-action="Delete">
      <input type="hidden" asp-for="@(Model.Item.ItemID)" />
      <input type="submit" value="Delete" class="btn btn-danger" />
      <a asp-action="Inventory">Back to Inventory</a>
  </form>
</div>
