@model PersonalProject.Models.ViewModels.UserManageViewModel;


<h4>Manage My Account</h4>
<hr />
<div>Username: @User.Identity.Name | Email: @Model.User.Email </div>
<hr />
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}
<div class="border-bottom">
    <div class="row">
        <div class="col">
            <h5>Change Email</h5>
            <form asp-action="ChangeEmail" method="post">
                <div class="form-group">
                    <label asp-for="EmailViewModel.NewEmail">New Email:</label>
                    <input type="email" class="form-control" asp-for="EmailViewModel.NewEmail" name="NewEmail" placeholder="New Email" required>
                </div>
                <div class="form-group">
                    <label asp-for="EmailViewModel.ConfirmEmail">Confirm New Email:</label>
                    <input type="email" class="form-control" asp-for="EmailViewModel.ConfirmEmail" name="ConfirmEmail" placeholder="Confirm New Email" required>
                </div>
                <div class="form-group">
                    <label asp-for="EmailViewModel.ConfirmPassword">Enter Password:</label>
                    <input type="password" class="form-control" asp-for="EmailViewModel.ConfirmPassword" name="ConfirmEmail" placeholder="Enter Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Email</button>
            </form>
        </div>
        <div class="col">
            <h5>Change Password</h5>
            <form asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label asp-for="PasswordViewModel.OldPassword">Current Password:</label>
                    <input type="password" class="form-control" asp-for="PasswordViewModel.OldPassword" name="OldPassword" placeholder="Current Password" required>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordViewModel.NewPassword">New Password:</label>
                    <input type="password" class="form-control" asp-for="PasswordViewModel.NewPassword" name="NewPassword" placeholder="New Password" required>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordViewModel.ConfirmPassword">Confirm New Password:</label>
                    <input type="password" class="form-control" asp-for="PasswordViewModel.ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
    <br />
</div>
<br />
@if (TempData["userMessage"] != null)
{
    <div class="alert alert-success">@TempData["userMessage"]</div>
}
<form asp-action="Manage" method="post">
    <input type="hidden" asp-for="User.UserName" />

    <h5>Customer Information</h5>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="@(Model.Customer.FirstName)"></label>
                <input asp-for="@(Model.Customer.FirstName)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@(Model.Customer.LastName)"></label>
                <input asp-for="@(Model.Customer.LastName)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@(Model.Customer.Phone)"></label>
                <input asp-for="@(Model.Customer.Phone)" id="phone" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="@(Model.Customer.Address)"></label>
                <input asp-for="@(Model.Customer.Address)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@(Model.Customer.City)"></label>
                <input asp-for="@(Model.Customer.City)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@(Model.Customer.State)"></label>
                <select asp-for="@(Model.Customer.State)" class="form-control">
                    <option value=" "></option>
                    <option Value="AL">Alabama</option>
                    <option Value="AK">Alaska</option>
                    <option Value="AZ">Arizona</option>
                    <option Value="AR">Arkansas</option>
                    <option Value="CA">California</option>
                    <option Value="CO">Colorado</option>
                    <option Value="CT">Connecticut</option>
                    <option Value="DC">District of Columbia</option>
                    <option Value="DE">Delaware</option>
                    <option Value="FL">Florida</option>
                    <option Value="GA">Georgia</option>
                    <option Value="HI">Hawaii</option>
                    <option Value="ID">Idaho</option>
                    <option Value="IL">Illinois</option>
                    <option Value="IN">Indiana</option>
                    <option Value="IA">Iowa</option>
                    <option Value="KS">Kansas</option>
                    <option Value="KY">Kentucky</option>
                    <option Value="LA">Louisiana</option>
                    <option Value="ME">Maine</option>
                    <option Value="MD">Maryland</option>
                    <option Value="MA">Massachusetts</option>
                    <option Value="MI">Michigan</option>
                    <option Value="MN">Minnesota</option>
                    <option Value="MS">Mississippi</option>
                    <option Value="MO">Missouri</option>
                    <option Value="MT">Montana</option>
                    <option Value="NE">Nebraska</option>
                    <option Value="NV">Nevada</option>
                    <option Value="NH">New Hampshire</option>
                    <option Value="NJ">New Jersey</option>
                    <option Value="NM">New Mexico</option>
                    <option Value="NY">New York</option>
                    <option Value="NC">North Carolina</option>
                    <option Value="ND">North Dakota</option>
                    <option Value="OH">Ohio</option>
                    <option Value="OK">Oklahoma</option>
                    <option Value="OR">Oregon</option>
                    <option Value="PA">Pennsylvania</option>
                    <option Value="RI">Rhode Island</option>
                    <option Value="SC">South Carolina</option>
                    <option Value="SD">South Dakota</option>
                    <option Value="TN">Tennessee</option>
                    <option Value="TX">Texas</option>
                    <option Value="UT">Utah</option>
                    <option Value="VT">Vermont</option>
                    <option Value="VA">Virginia</option>
                    <option Value="WA">Washington</option>
                    <option Value="WV">West Virginia</option>
                    <option Value="WI">Wisconsin</option>
                    <option Value="WY">Wyoming</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="@(Model.Customer.Zip)"></label>
                <input asp-for="@(Model.Customer.Zip)" class="form-control" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@section Scripts {
    <script src="~/js/cleave.min.js"></script>
    <script src="~/js/account.js"></script>
}